/*Written and notated by Bradlee Logan */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Global defaults/modifiers*/
body {
    /*rem multiplies the measurement by ~16px*/
    font-size: 1rem;
    color: bisque;
    background-color: #010c13;
    font-family: 'Roboto', sans-serif;
    margin: 1rem auto;
    max-width: 1000px;
    padding: 0 1rem;
}

/*links*/
a {
    text-decoration: underline;
    color: bisque;
}

a:visited {
    color: bisque;
}

a:hover {
    color: cadetblue;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0rem;
}

p {
    margin: 0rem 0rem;
}

iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

/*header items*/
.name {
    font-size: 5rem;
    margin: 0px;
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header div {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/*adds a | after each of my labels, except the last one*/
.header div span:not(:last-child)::after {
    content: "|";
    margin-left: 1rem;
}

nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

/*footer items*/
footer {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

/*index*/
.mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainPage iframe {
    min-width: 50%;
    width: 70%;
    margin: 2rem;
}

/*projects*/
.projects {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 3rem;
}

/*about*/
.me {
    display: flex;
    margin-bottom: 1rem;
}

.bio {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-top: 2rem;
    gap: 1.5rem;
}

.bio p {
    line-height: 1.5;
}

.me img {
    align-self: center;
    width: 40%;
    height: auto;
}

/*contact*/
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    gap: 0.5rem;
}

input {
    width: 25%;
}

textarea {
    width: 50%;
    min-height: 150px;
}

button {
    width: fit-content;
}

form p {
    font-size: 0.75rem;
}

/*media query for display changes for medium screens*/
@media (max-width:1000px) {

    /*projects*/
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

    /*about*/
    .bio {
        width: 90%;
    }

    .me {
        flex-direction: column;
    }


}

/*media query for display changes for small screens*/
@media (max-width: 600px) {

    /*header*/
    .header {
        flex-direction: column;
    }

    .header div {
        align-self: flex-start;
        margin-bottom: 1rem;
    }

    /*projects*/
    .projects {
        grid-template-columns: 1fr;
    }
}